@mixin links() {
  margin-left: 25px !important;
  color: white;
  text-decoration: none;
  border-bottom: 2px transparent solid;
  transition: 0.2s;
}

@mixin activeLinks() {
  margin-left: 25px !important;
  color: white;
  border-bottom: 2px white solid;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
  img {
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.home_link:hover,
.table_link:hover,
.favourite_link:hover {
  border-bottom-color: white;
  transition: 0.2s;
}

.active_home_link,
.active_table_link,
.active_favourite_link {
  @include activeLinks();
}

.home_link,
.table_link,
.favourite_link {
  @include links();
}

.login_link {
  margin-left: 25px !important;
  text-decoration: none;
}

.user_name {
  margin-left: 25px !important;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  img {
    border-radius: 5px;
  }
}

.links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
}

.burger_link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
  align-items: center;
  &::after {
    color: black;
  }
}

@media screen and (max-width: 575.98px) {
  .wrapper {
    width: 100%;
    min-width: 315px;
  }
}

@media screen and(max-width: 991.98px) {
  .burger {
    display: flex;
  }
  .links {
    display: none;
  }
}
