.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  font-size: 25px;
  text-decoration: underline;
  text-transform: uppercase;
}

.login_container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
}

.register_container {
  margin-top: 40px;
  a:visited {
    color: #3f51b5;
  }
  a {
    color: #3f51b5;
  }
}

.redirect {
  margin-top: 40px;
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.error_Alert {
  margin-top: 40px;
}
